.availablebrands
	.available
		.available-title Available
		.available-storage-block
			.available-storage
				input(type="radio" name="available" id="instorage" checked).available-storage__checkbox
				label(for="instorage").available-storage__title In Storage
				.available-storage__count 45
			.available-storage
				input(type="radio" name="available" id="onlisneshop").available-storage__checkbox
				label(for="onlisneshop").available-storage__title Online-Shop
				.available-storage__count 12
	.brands
		.brands-title  Brands
			.brands-link
				a(href="#") All
		.brands-list
			.brands-list__items
				input(type="checkbox" name="available" id="apple").brands__checkbox
				label(for="apple").brands-list__title Apple
				.brands__count 32
			.brands-list__items
				input(type="checkbox" name="available" id="jbl").brands__checkbox
				label(for="jbl").brands-list__title JBL
				.brands__count 14
			.brands-list__items
				input(type="checkbox" name="available" id="bose").brands__checkbox
				label(for="bose").brands-list__title Bose
				.brands__count 3
			.brands-list__items
				input(type="checkbox" name="available" id="nest").brands__checkbox
				label(for="nest").brands-list__title Nest
				.brands__count 5






