.container
	.bestseller__title Best Sellers
	.bestseller
		+product-card-bestseller ('beanie.png', 'Beanie', 'green', '£39.99', '£29.99')
		+product-card-bestseller ('t-short.png', 'T-Shirt With a Print', 'Dark Blue', '£29.99', '£19.99')
		+product-card-bestseller ('jacket.png', 'Pile-Lined Hooded Jacket', 'Dark Blue', '£49.99', '£39.99')
		+product-card-bestseller ('trainers.png', 'Trainers', 'Space Grey', '£39.99', '£29.99')
