.condition
	.condition-title  Condition
		a(href="#").condition-link See All
	.condition-list
		.condition-list__items
			input(type="checkbox" name="condition" id="new").condition__checkbox
			label(for="new").condition-list__title New
		.condition-list__items
			input(type="checkbox" name="condition" id="manufacturer").condition__checkbox
			label(for="manufacturer").condition-list__title Manufacturer Refurbished
		.condition-list__items
			input(type="checkbox" name="condition" id="seller").condition__checkbox
			label(for="seller").condition-list__title Seller Refurbished
		.condition-list__items
			input(type="checkbox" name="condition" id="used").condition__checkbox
			label(for="used").condition-list__title Used
		.condition-list__items
			input(type="checkbox" name="condition" id="forparts").condition__checkbox
			label(for="forparts").condition-list__title For Parts or not Working