.footer
	.container
		.footer-block
			.footer-logo
				img(src="./img/logo/portland-white.png", alt="logo")
			.footer-menu
				a(href="#").footer-menu__items Home
				a(href="#").footer-menu__items Shope
				a(href="#").footer-menu__items Team
				a(href="#").footer-menu__items About us
				a(href="#").footer-menu__items Contact
			.footer-message
					a(href="#").footer-message__items 
						i(class="fab fa-twitter" aria-hidden="true").footer-message__icon.twitter
					a(href="#").footer-message__items
						i(class="fab fa-facebook-f" aria-hidden="true").footer-message__icon.facebook 
					a(href="#").footer-message__items
						i(class="fab fa-google-plus-g" aria-hidden="true").footer-message__icon.google 
		.footer-info
			.footer-cite She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.
			.footer-menulink
				a(href="#").footer-menu-link__items Privacy Policy
				a(href="#").footer-menu-link__items Terms and Conditions
