header.header
	a(href="#")
		img(src="img/logo/logo.svg", alt="Logo")
	nav.nav
		a(href="#").nav-link Home
		a(href="#").nav-link Devices
		a(href="#").nav-link Delivery & Payment
		a(href="#").nav-link Guarantee
		a(href="#").nav-link About Us
	.header-right
		.header-cart
			.header-cart__icon
				img(src="img/icons/cart-icon.svg", alt="Cart")
			.header-cart__title Cart
			.header-cart__counter 0
		a.header-sign Sign-In


