.header-navigation-bg
	.container
		.header-navigation
			.navigation-list
				a(href="#").navigaton-list__item Top Sales
				a(href="#").navigaton-list__item Brand Focus
				a(href="#").navigaton-list__item.navigaton-list__item--active Hi-tech
				a(href="#").navigaton-list__item Projects
				a(href="#").navigaton-list__item Best Sellers
			.header-navigation-right
				.header-support Support
				.header-search
					label.header-search__label
					input(type="text" placeholder="I’m looking for").header-search__input