header.header-bg
	.container
		.header
			a(heder="#")
				img(src="img/logo/portland.svg", alt="Logo")

			nav.nav
				a(href="#").nav-link Home
				a(href="#").nav-link Device
				a(href="#").nav-link About Us
				a(href="#").nav-link Guarantee
				a(href="#").nav-link Delivery & Payment

			.header-right
				.header-cart
					.header-cart__icon
						<img src="img/icons/shopping-cart-icon.svg" alt="Cart">
					.header-cart__title Cart
					.header-cart__counter 0
					
			a(href="#modalSignin").button.signin Sign In