ul.information-menu
				li.information-menu__list
					a(href="#").information-menu__items Top Sales
						ul.information-menu-second
							li.information-menu-second__list
								a(href="#").information-menu-second__items Example 1
							li.information-menu-second__list
								a(href="#").information-menu-second__items Example 2
							li.information-menu-second__list
								a(href="#").information-menu-second__items Example 3
				li.information-menu__list
					a(href="#").information-menu__items Brand Focus
						ul.information-menu-second
							li.information-menu-second__list
								a(href="#").information-menu-second__items Example 1
							li.information-menu-second__list
								a(href="#").information-menu-second__items Example 2
							li.information-menu-second__list
								a(href="#").information-menu-second__items Example 3
				li.information-menu__list
					a(href="#").information-menu__items Hi-Tech
						ul.information-menu-second.visible
								li.information-menu-second__list
									a(href="#").information-menu-second__items Cell Phones
								li.information-menu-second__list
									a(href="#").information-menu-second__items Cameras
								li.information-menu-second__list
									a(href="#").information-menu-second__items Computers
								li.information-menu-second__list
									a(href="#").information-menu-second__items Tv, Audio
								li.information-menu-second__list
									a(href="#").information-menu-second__items Video Games
				li.information-menu__list
					a(href="#").information-menu__items Home
						ul.information-menu-second
								li.information-menu-second__list
									a(href="#").information-menu-second__items Example 1
								li.information-menu-second__list
									a(href="#").information-menu-second__items Example 2
								li.information-menu-second__list
									a(href="#").information-menu-second__items Example 3
				li.information-menu__list
					a(href="#").information-menu__items Sale
						ul.information-menu-second
								li.information-menu-second__list
									a(href="#").information-menu-second__items Example 1
								li.information-menu-second__list
									a(href="#").information-menu-second__items Example 2
								li.information-menu-second__list
									a(href="#").information-menu-second__items Example 3