include ../mixins/opinion-people.pug
.opinion
	.opinion__title What Our Customers Have to Say
	.opinion__about Couple of Words About This Stories Section
	.opinion__items
		+opinion-people('celia.png', 'Celia Fields', 'UX Expert', 'This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.')
		+opinion-people('alexandr.png', 'Alexander Lee', 'Founder', 'Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.')
		+opinion-people('lenora.png', 'Lenora Sandoval', 'Product Manager', 'This sounded a very good reason, and Alice was quite pleased to know it. "I never thought of that before!" she said.')
