.container.p-0
	.pagination
		.pagination__slider-left
			a(href="#")
		.pagination__items
			.paginaton-list.m-0.pl-0
				a(href="#").pagination-list__items 1
				a(href="#").pagination-list__items 2
				a(href="#").pagination-list__items 3
				a(href="#").pagination-list__items 4
				a(href="#").pagination-list__items 5
				a(href="#").pagination-list__items 6
				a(href="#").pagination-list__items 7
				a(href="#").pagination-list__items 8
		.pagination__slider-right
			a(href="#")